<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <section class="section">
      <%= render 'layouts/flash_messages' %>
      <div class="container">
        <%= yield %>
      </div>
    </section>
  </body>
</html>
